meta/vale-styles/Google/AMPM.yml
meta/vale-styles/Google/Acronyms.yml
meta/vale-styles/Google/Colons.yml
meta/vale-styles/Google/Contractions.yml
meta/vale-styles/Google/DateFormat.yml
meta/vale-styles/Google/Ellipses.yml
meta/vale-styles/Google/EmDash.yml
meta/vale-styles/Google/Exclamation.yml
meta/vale-styles/Google/FirstPerson.yml
meta/vale-styles/Google/Gender.yml
meta/vale-styles/Google/GenderBias.yml
meta/vale-styles/Google/HeadingPunctuation.yml
meta/vale-styles/Google/Headings.yml
meta/vale-styles/Google/Latin.yml
meta/vale-styles/Google/LyHyphens.yml
meta/vale-styles/Google/OptionalPlurals.yml
meta/vale-styles/Google/Ordinal.yml
meta/vale-styles/Google/OxfordComma.yml
meta/vale-styles/Google/Parens.yml
meta/vale-styles/Google/Passive.yml
meta/vale-styles/Google/Periods.yml
meta/vale-styles/Google/Quotes.yml
meta/vale-styles/Google/Ranges.yml
meta/vale-styles/Google/Semicolons.yml
meta/vale-styles/Google/Slang.yml
meta/vale-styles/Google/Spacing.yml
meta/vale-styles/Google/Spelling.yml
meta/vale-styles/Google/Units.yml
meta/vale-styles/Google/We.yml
meta/vale-styles/Google/Will.yml
meta/vale-styles/Google/WordList.yml
meta/vale-styles/Google/meta.json
meta/vale-styles/Google/vocab.txt
meta/vale-styles/Joblint/Acronyms.yml
meta/vale-styles/Joblint/Benefits.yml
meta/vale-styles/Joblint/Bro.yml
meta/vale-styles/Joblint/Competitive.yml
meta/vale-styles/Joblint/Derogatory.yml
meta/vale-styles/Joblint/DevEnv.yml
meta/vale-styles/Joblint/DumbTitles.yml
meta/vale-styles/Joblint/Gendered.yml
meta/vale-styles/Joblint/Hair.yml
meta/vale-styles/Joblint/LegacyTech.yml
meta/vale-styles/Joblint/Meritocracy.yml
meta/vale-styles/Joblint/Profanity.yml
meta/vale-styles/Joblint/README.md
meta/vale-styles/Joblint/Reassure.yml
meta/vale-styles/Joblint/Sexualised.yml
meta/vale-styles/Joblint/Starter.yml
meta/vale-styles/Joblint/TechTerms.yml
meta/vale-styles/Joblint/Visionary.yml
meta/vale-styles/Joblint/meta.json
meta/vale-styles/Readability/AutomatedReadability.yml
meta/vale-styles/Readability/ColemanLiau.yml
meta/vale-styles/Readability/FleschKincaid.yml
meta/vale-styles/Readability/FleschReadingEase.yml
meta/vale-styles/Readability/GunningFog.yml
meta/vale-styles/Readability/LIX.yml
meta/vale-styles/Readability/SMOG.yml
meta/vale-styles/Readability/meta.json
meta/vale-styles/alex/Ablist.yml
meta/vale-styles/alex/Condescending.yml
meta/vale-styles/alex/Gendered.yml
meta/vale-styles/alex/LGBTQ.yml
meta/vale-styles/alex/Press.yml
meta/vale-styles/alex/ProfanityLikely.yml
meta/vale-styles/alex/ProfanityMaybe.yml
meta/vale-styles/alex/ProfanityUnlikely.yml
meta/vale-styles/alex/README.md
meta/vale-styles/alex/Race.yml
meta/vale-styles/alex/Suicide.yml
meta/vale-styles/alex/meta.json
meta/vale-styles/proselint/Airlinese.yml
meta/vale-styles/proselint/AnimalLabels.yml
meta/vale-styles/proselint/Annotations.yml
meta/vale-styles/proselint/Apologizing.yml
meta/vale-styles/proselint/Archaisms.yml
meta/vale-styles/proselint/But.yml
meta/vale-styles/proselint/Cliches.yml
meta/vale-styles/proselint/CorporateSpeak.yml
meta/vale-styles/proselint/Currency.yml
meta/vale-styles/proselint/Cursing.yml
meta/vale-styles/proselint/DateCase.yml
meta/vale-styles/proselint/DateMidnight.yml
meta/vale-styles/proselint/DateRedundancy.yml
meta/vale-styles/proselint/DateSpacing.yml
meta/vale-styles/proselint/DenizenLabels.yml
meta/vale-styles/proselint/Diacritical.yml
meta/vale-styles/proselint/GenderBias.yml
meta/vale-styles/proselint/GroupTerms.yml
meta/vale-styles/proselint/Hedging.yml
meta/vale-styles/proselint/Hyperbole.yml
meta/vale-styles/proselint/Jargon.yml
meta/vale-styles/proselint/LGBTOffensive.yml
meta/vale-styles/proselint/LGBTTerms.yml
meta/vale-styles/proselint/Malapropisms.yml
meta/vale-styles/proselint/Needless.yml
meta/vale-styles/proselint/Nonwords.yml
meta/vale-styles/proselint/Oxymorons.yml
meta/vale-styles/proselint/P-Value.yml
meta/vale-styles/proselint/RASSyndrome.yml
meta/vale-styles/proselint/README.md
meta/vale-styles/proselint/Skunked.yml
meta/vale-styles/proselint/Spelling.yml
meta/vale-styles/proselint/Typography.yml
meta/vale-styles/proselint/Uncomparables.yml
meta/vale-styles/proselint/Very.yml
meta/vale-styles/proselint/meta.json
meta/vale-styles/write-good/Cliches.yml
meta/vale-styles/write-good/E-Prime.yml
meta/vale-styles/write-good/Illusions.yml
meta/vale-styles/write-good/Passive.yml
meta/vale-styles/write-good/README.md
meta/vale-styles/write-good/So.yml
meta/vale-styles/write-good/ThereIs.yml
meta/vale-styles/write-good/TooWordy.yml
meta/vale-styles/write-good/Weasel.yml
meta/vale-styles/write-good/meta.json
